/* Basic CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/travel.jpg');
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

.main::before {
    content: '';
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #037070, hwb(0deg 97.95% 2.05% / 0%));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.main {
    position: relative;
    z-index: 9;
}

.container {
    max-width: 90%;
    margin: auto;
    position: relative;
    z-index: 9;
}

h1 {
    color: #FFF;
}

p {
    color: #FFF;
}


button {
    padding: 7px 15px;
    background-color: #008080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #037070;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    border-bottom: 1px solid #000000;
    opacity: 0.7;
    position: relative;
    z-index: 9;
  }

  .navbar-center {
    display: flex;
    gap: 15px;
  }

  .navbar-center a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .navbar-right .search-container {
    position: relative;
    width: 450px;
  }
  
  .navbar-right .search-container input {
    width: 100%;
    height: 40px;
    padding: 5px 50px 5px 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    position: relative;
  }
  
  .navbar-right .search-container i {
    position: absolute;
    right: 170px;
    top: 50%;
    transform: translateY(-50%);
    color: #037070;
    font-size: 1rem;
  }
  
  .navbar-right .search-container #btnSearch {
    position: absolute;
    top: 13%;
    right: 85px;
}

.navbar-right .search-container #btnResetSearch {
    position: absolute;
    top: 13%;
    right: 15px;
}


/* #destinationInput {
    width: 450px;
    padding: 12px;
    padding-right: 100px;
    border: none;
    border-radius: 20px;

} */

/*  */

/* Basic CSS for the form elements */


.fixed-sidebar-left {
    position: fixed;
    left: 0;
    background: transparent;
    width: 50px;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
}

.vertical-line {
    width: 1.5px;
    background-color: #fff;
    height: 200px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons li {
    margin: 10px 0;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    color: #FFF;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.right-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



/* Basic CSS for the report section */
.left-content {
    padding: 40px;
}

.left-content h1 {
    font-size: 80px;
    text-transform: uppercase;
}

#result {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 0;
    margin-top: 30px;
}

#result .result-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

#result img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

#result .image-section {
    margin: 0;
}

#result .text-section {
    margin: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

#result h2 {
    color: #000;
    font-size: 20px;
    margin: 0;
    margin-bottom: 5px;
}

#result p {
    color: #a39a9a;
    font-size: 14px;
    margin: 0;
}